<!--oh sandeep-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Homepage </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/test2.css">
    </head>
    <body>
        <div class="hero">
<!--           <h3>NAME</h3> -->
            <nav>
                <ul>
                    <a href="test"><button class="button2">Home</button></a>&nbsp&nbsp;
                    <div class = "dropdown">
                      <a><button class="button2">Interventions</button></a>&nbsp;
                      <div class = "dropdown-content">
                        <a rel = "noopener" target="_self" href="diet2">Diet</a>&nbsp;<br>
                        <a rel = "noopener" target="_self" href="exercise">Exercise</a>&nbsp;<br>
                        <a rel="noopener" target="_self" href="sleep">Sleep</a>&nbsp;<br>
                        <a rel="noopener" target="_self" href="sr">Stress Reduction</a>&nbsp;<br>
                        <a rel="noopener" target="_self" href="sup">Supplements</a>&nbsp;
                      </div>
                    </div>
                    <a href="#about"><button class="button2">&nbsp;About</button></a>&nbsp;&nbsp;
                    <a href="#contact"><button class="button2">Contact</button></a>&nbsp;&nbsp;
                    <a href="login"><button class="button1">Login</button></a>&nbsp;
                </ul> 
            </nav>
<!--           <label for="Song1">Interventions</label>
      <input list="Songs" name="Song" id="Song">
      <datalist id="intervention">
      </datalist> -->
          <div class = "rightimage">
            <div class="container">
              <img id="box" src="img/fruit.jpg">
              <img id="box" src="img/fruit.jpg">
              <img id="box" src="img/fruit.jpg">
              <img id="box" src="img/fruit.jpg">
            </div>
          </div>
          <div class="lefttext">
            <div class="textwrap">
                <h1>
                    Hello, log in first!
                </h1>
              <br>
              <br>
                <p>
                    This study is focused on the process of slowing aging. 
                </p>
<!--                 World Cup 2022 -->
            </div>
<!--             <img src="img/fruit.jpg" id = "first">
<img src="img/Foodimage.jpg" id = "second"> -->
        </div>
    </div>
					
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
      <h1 id = "about">About</h1>
            <br>
            <h2 class = "aboutname">NAME GOES HERE</h2>
            <img src = "img/standardwhiteguy.jpg" class = "firstguy">
      <p class = "desc">Hi, my name is [insert name]! and [the rest].</p>
      <br>
      <h2 class = "aboutname">NAME GOES HERE</h2>
            <img src = "img/whiteguy2.jfif" class = "firstguy">
      <p class = "desc">Hi, my name is [insert name]! and [the rest].</p>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
<h1 id = "contact">Contact Information</h1>
           <dl>
              <dt>NAME<br></dt>
             <br>
                <dd>EMAIL<br></dd>
             <br>
                <dd>PHONE NUMBER<br></dd>
             <br>
                <dd>ETC<br></dd>
             <br>
             <br>
                      <dt>NAME<br></dt>
             <br>
                <dd>EMAIL<br></dd>
             <br>
                <dd>PHONE NUMBER<br></dd>
             <br>
                <dd>ETC<br></dd>
             <br>
        </dl>
            </div>
        </div>
    </body>
</html>